<nav class="navbar bg-dark">
  <div class="container">
    <h1>
      <a [routerLink]="['/']">Post App</a>
    </h1>
    <select #langSelect (change)="translate.use(langSelect.value)">
      <option
        *ngFor="let lang of translate.getLangs()"
        [value]="lang"
        [selected]="lang === translate.currentLang"
      >
        {{ lang }}
      </option>
    </select>

    <div id="menuToggle">
      <input type="checkbox" />

      <span></span>
      <span></span>
      <span></span>

      <ul id="menu">
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a [routerLink]="['/']">Home</a>
        </li>
        <li routerLinkActive="active"><a routerLink="/posts">Posts</a></li>
      </ul>
    </div>
  </div>
</nav>
