<nav class="navbar bg-dark">
  <div class="container d-flex">
    <h1>
      <a [routerLink]="['/']">{{ 'COMMON.APP_NAME' | translate }}</a>
    </h1>

    <app-language-selector></app-language-selector>

    <div id="menuToggle">
      <div class="burger" [class.active]="menuActive" (click)="burgerHandler()">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <ul id="menu">
        <app-menu
          *ngFor="let menuItem of menuItems; trackBy: trackByFn; let i = index"
          [menuItem]="menuItem"
        ></app-menu>
      </ul>
    </div>
  </div>
</nav>
