<nav class="navbar bg-dark">
  <div class="container d-flex">
    <h1>
      <a [routerLink]="['/']">{{ 'COMMON.APP_NAME' | translate }}</a>
    </h1>

    <app-language-selector></app-language-selector>

    <div id="menuToggle">
      <input type="checkbox" />

      <span></span>
      <span></span>
      <span></span>

      <ul id="menu">
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a [routerLink]="['/']">{{ 'COMMON.HOME' | translate }}</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/posts">{{ 'COMMON.POSTS' | translate }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
