<nav class="navbar bg-dark">
  <div class="container d-flex">
    <h1>
      <a [routerLink]="['/']">{{ 'Common.APP_NAME' | translate }}</a>
    </h1>

    <app-language-selector
      [langs]="langs"
      [currentLang]="currentLang"
      (newLangEvent)="changeLangHandler($event)"
    ></app-language-selector>

    <div id="menuToggle">
      <div class="burger" [class.active]="menuActive" (click)="burgerHandler()">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <ul id="menu" [class.active]="menuActive">
        <app-menu-item
          *ngFor="let menuItem of menuItems; trackBy: trackByFn"
          [menuItem]="menuItem"
        ></app-menu-item>
      </ul>
    </div>
  </div>
</nav>
