.navbar {
  overflow-x: clip;
  h1 {
    margin: 0 auto 0 0;
  }
}

// hamburger menu styles
#menuToggle {
  @media (max-width: 991.98px) {
    display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  @media (max-width: 991.98px) {
    a {
      text-decoration: none;
      color: #232323;

      transition: color 0.3s ease;
    }

    & #menuToggle a:hover {
      color: tomato;
    }

    /*
    * Just a quick hamburger
    */
    span {
      display: block;
      width: 33px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;

      background: #cdcdcd;
      border-radius: 3px;

      z-index: 1;

      transform-origin: 4px 0px;

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    }

    span:first-child {
      transform-origin: 0% 0%;
    }

    span:nth-last-child(2) {
      transform-origin: 0% 100%;
    }
  }

  .burger {
    &.active {
      span {
        opacity: 1;
        transform: rotate(45deg) translate(1px, 1px);
      }

      span:nth-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
      }

      span:nth-child(2) {
        transform: rotate(-45deg) translate(-10px, 10px);
      }
    }
  }
}

/*
    * Make this absolute positioned
    * at the top left of the screen
    */
#menu {
  margin-bottom: 0;
  display: flex;

  @media (max-width: 991.98px) {
    position: absolute;
    width: 300px;
    height: 90vh;
    flex-direction: column;
    text-align: end;
    padding: 25px;

    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(31%, 34px);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  &.active {
    transform: translate(-78%, 34px);
  }

  & > * {
    & + * {
      margin-left: 10px;
    }
  }
}
