@import url('https://fonts.googleapis.com/css?family=Roboto');

// custom Bootstrap variables to override original values
@import './app/scss/bootstrap/custom-bootstrap-variables';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
// colors
@import './app/scss/const/colors.scss';
// fonts
@import './app/scss/const/fonts.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $primary_font;
  font-size: 1rem;
  line-height: 1.6;
  background-color: $white;
  color: $main_black;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  color: $black_2;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.btn {
  display: inline-block;
  background: $main_black;
  color: $white;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;

  &:disabled {
    background: $gray;
    color: $main_black;
    cursor: not-allowed;
  }

  &:hover {
    opacity: 0.8;
    color: $white;
    background: $gray_2;
  }
}

.btn.btn-danger {
  background: $main_red;
  color: $white;
}

.form-control {
  display: block;
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;

  label {
    display: block;
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  input {
    margin-bottom: 0;
  }

  .validation {
    color: red;
  }
}

.card {
  padding: 1rem;
  border: $gray 1px dotted;
  margin: 0.7rem 0;

  p {
    display: flex;
    justify-content: space-between;

    span.completed {
      text-decoration: line-through;
    }
  }
}

input,
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

hr {
  margin: 0.5rem 0;
}

.page-wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & > .container {
    height: auto;
  }
}

@import './app/scss/components/footer/footer.scss';
